.sidebar {
    float: left;
    margin-right: 2rem;
    position: sticky;
    top: 2rem;
}

.sidebar a {
    display: block;
    color: #23A6F0;
    color: inherit;
    font-size: .9em;
    margin-bottom: .5em;
}

.sidebar a.level-2 {
    font-size: .8em;
    padding-left: 2rem;
}

.content {
    overflow: hidden;
}

.content table {
    font-size: .9em;
    text-align: left;
}

.content td {
    vertical-align: top;
}

.content code {
    color: #23A6F0;
    background: none;
}

.content code.string {
    font-style: italic;
    color: inherit;
}

label {
    font-size: .9em;
    color: #999;
}

label.example {
    display: block;
    margin-top: 1rem;
}

pre {
    white-space: pre-wrap;
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.octicon-link {
    background-image: url('link.svg');
}
