.dark-mode {
    background-color: #202124;
    color: #bcc0c3;
}

/*@media (prefers-color-scheme: dark) {
    body {
        background-color: #202124;
        color: #bcc0c3;
    }
}*/

.sidebar {
    float: left;
    margin-right: 2rem;
    position: sticky;
    top: 2rem;
}

.sidebar a {
    display: block;
    color: #23A6F0;
    color: inherit;
    font-size: .9em;
    margin-bottom: .5em;
}

.sidebar a.level-2 {
    font-size: .8em;
    padding-left: 2rem;
}

.content {
    overflow: hidden;
}

.content table.article {
    font-size: .9em;
    text-align: left;
}

.content table.article td.cell {
    vertical-align: top;
}

.content pre {
    margin: 0;
}

.content pre code {
    font-size: 12px;
    border-radius: 6px;
    border: slategrey solid 1px;
}

.content pre.source-with-footer code {
    font-size: 12px;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

label {
    font-size: .9em;
    color: #999;
}

label.example {
    display: block;
    margin-top: 1rem;
}

.source-footer {
    width: 100%;
    background-color: slategrey;
    color: white;
    font-size: 12px;
    padding: 10px;
    border-radius: 0 0 6px 6px;
}

.source-footer a {
    font-weight: 600;
    color: white;
}

.source-footer a:hover {
    text-decoration: none;
}

.octicon {
    position: relative;
    display: inline-block;
    width: 0.8rem;
}

.octicon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}

.octicon > .octicon-link {
    width: 100%;
}
